version: "3.0"

services:
  ansible-host:
    hostname: ansible-host
    build:
      context: .
      dockerfile: Dockerfile.ansible
    command: ['sleep', 'infinity']
    networks:
      - vaiolabs.io
    volumes:
      - ../../../:/home/ansible/ansible_course
  node1:
    hostname: node1
    build:
      context: .
      dockerfile: Dockerfile.deb
    environment:
      SSH_USERNAME: docker
      SSH_USERPASS: docker
    command: ["/usr/sbin/sshd", "-D"]
    networks:
      - vaiolabs.io
  node3:
    hostname: node3
    build:
      context: .
      dockerfile: Dockerfile.deb
    environment:
      SSH_USERNAME: docker
      SSH_USERPASS: docker
    command: ["/usr/sbin/sshd", "-D"]
    networks:
      - vaiolabs.io
  node2:
    hostname: node2
    build:
      context: .
      dockerfile: Dockerfile.rpm
    environment:
      SSH_USERNAME: docker
      SSH_USERPASS: docker
    command: ["/usr/sbin/sshd", "-D"]
    networks:
      - vaiolabs.io
  node4:
    hostname: node4
    build:
      context: .
      dockerfile: Dockerfile.rpm
    environment:
      SSH_USERNAME: docker
      SSH_USERPASS: docker
    command: ["/usr/sbin/sshd", "-D"]
    networks:
      - vaiolabs.io
  node_app:
    hostname: task_app
    build:
      context: .
      dockerfile: Dockerfile.app
    environment:
      SSH_USERNAME: docker
      SSH_USERPASS: docker
    command: ["/usr/sbin/sshd", "-D"]
    ports: 
      - 8000:8000
      - 5000:5000
    networks:
      - vaiolabs.io

networks:
  vaiolabs.io:
    name: vaiolabs.io
